@import url('../../styles/global.css');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: var(--g2);
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
}

.main-container {
    margin-right: 32px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

.main-header h1 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 32px;
    line-height: 1.5;
    font-weight: var(--semibold);
}

.botoes-header {
    display: flex;
    gap: 16px;
}

.adicionar {
    background-color: var(--g10);
    color: var(--g1);
    border-radius: 12px;
    height: 48px;
    width: 200px;
    border: none;
    font-size: 16px;
    background-color: 0.3s;
    cursor: pointer;
}

.filtrar {
    background-color: var(--g11);
    color: var(--g1);
    border-radius: 12px;
    height: 48px;
    width: 120px;
    border: none;
    font-size: 16px;
    background-color: 0.3s;
    cursor: pointer;
}







