@import url('../../styles/global.css');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: var(--g2);
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
}

.main-container {
    margin-right: 32px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 24px;
}

.main-header h1 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 32px;
    line-height: 1.5;
    font-weight: var(--semibold);
}

.botoes-header {
    display: flex;
    gap: 16px;
}

.adicionar {
    background-color: var(--g10);
    color: var(--g1);
    border-radius: 12px;
    height: 48px;
    width: 200px;
    border: none;
    font-size: 16px;
    background-color: 0.3s;
    cursor: pointer;
}

.filtrar {
    background-color: var(--g11);
    color: var(--g1);
    border-radius: 12px;
    height: 48px;
    width: 120px;
    border: none;
    font-size: 16px;
    background-color: 0.3s;
    cursor: pointer;
}

.projeto-container{
    align-items: center;
    background-color: var(--g1);
    border-radius: 20px;
<<<<<<< HEAD
    height: 120px;
=======
>>>>>>> 5800e3d97df8e094460f2ea7145b117415a2a54a
    box-sizing: border-box;
    padding: 24px;
}

.projeto-container h2 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: var(--semibold);
    line-height: 1.5;
}

.projeto-container p {
    color: var(--g5);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: var(--regular);
<<<<<<< HEAD
}

.projetos {
=======
    line-height: 1.5;
}

.projeto-header {
>>>>>>> 5800e3d97df8e094460f2ea7145b117415a2a54a
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.botoes-projeto {
    display: flex;
    gap: 16px;
    align-items:start;
}
.botoes-projeto button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    color: var(--g1);
<<<<<<< HEAD
=======
    cursor: pointer;
>>>>>>> 5800e3d97df8e094460f2ea7145b117415a2a54a
}

#btnEsconderFases {
    display: none;
}

.botoes-projeto button:nth-last-child(-n + 2) {
    background-color: var(--g11);  
}

<<<<<<< HEAD
.barra-progresso {
    width: 100%;
    height: 8px;
    border-radius: 4px;
=======
.botoes-projeto button:nth-last-child(3) {
    background-color: var(--o8);  
}

.botoes-projeto button:nth-last-child(4) {
    background-color: var(--gr8);  
}

.botoes-projeto button:nth-last-child(5) {
    background-color: var(--y6);  
}

.botoes-projeto button:nth-last-child(6) {
    background-color: var(--r8);  
}

.progresso-container {
    width: 100%;
    height: 8px;
>>>>>>> 5800e3d97df8e094460f2ea7145b117415a2a54a
}

.progresso {
    width: 100%;
    height: 100%;
    
    border-radius: 4px;
}

<<<<<<< HEAD
.main-fases {
    align-items: center;
    background-color: var(--g1);
    border-radius: 20px;
    height: 124px;
    margin-top: 12px;
    height: 96px;
=======
.progresso-vazio {
    background-color: var(--g3);
>>>>>>> 5800e3d97df8e094460f2ea7145b117415a2a54a
}

.progresso-cheio {
    background-color: var(--o6);
}

.fases-container {
    align-items: center;
    background-color: var(--g1);
    border-radius: 20px;
    margin-top: 12px;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 24px;
    display: none;
}

.fase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.fase h2 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: var(--semibold);
    line-height: 1.5;
}

.fase p {
    color: var(--g5);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
}

.link-tarefas a {
    text-decoration: none;
    color: var(--g11);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: var(--medium);
    line-height: 1.5;
}

.link-tarefas a i {
    margin-left: 8px;
}

<<<<<<< HEAD

=======
.fase-divisor {
    height: 1px;
    background-color: var(--g3);
    width: 100%;
    margin-top: 12px;
}
>>>>>>> 5800e3d97df8e094460f2ea7145b117415a2a54a







