.select-estado-tarefa {
    background-color: var(--g11);
    color: var(--g1);
    border-radius: 8px;
    width: 200px;
    height: 40px;
    box-sizing: border-box;
    padding: 0 24px;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: var(--medium);
}

.informacoes-tarefa-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.input-sem-anexo {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 8px;
}

.input-sem-anexo > div {
    display: flex;
    align-items: center;
}