.particiantes-projeto {
    position: absolute;
    display: none;
}

.fundo-escuro {
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-particiantes-projeto {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: var(--g1);
    border-radius: 20px;
    width: 1128px;
    height: 928px;
}

.card-participantes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--g11);
    width: 100%;
    height: 64px;
    border-radius: 20px 20px 0 0;
    box-sizing: border-box;
    padding: 0 48px;
}

.card-participantes-header > h2 {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 1.5;
    color: var(--g1);
    font-weight: var(--regular);
}

.card-participantes-header > i {
    font-family: 'Poppins';
    font-size: 24px;
    color: var(--g1);
    font-weight: var(--regular);
    cursor: pointer;
}

.card-participantes-main {
    max-height: 864px;
    overflow: auto;
}

.card-participantes-titulo {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 24px 48px;
}

.card-participantes-titulo h2 {
    font-family: 'Poppins';
    color: var(--g11);
    font-weight: var(--semibold);
    line-height: 1.5;
    font-size: 32px;
}

.card-participantes-titulo p {
    font-family: 'Roboto';
    color: var(--g6);
    font-weight: var(--regular);
    line-height: 1.5;
    font-size: 16px;
}

.card-participantes-input-adicionar {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 48px;
    margin-bottom: 24px;
}

.card-participantes-input-adicionar > label {
    font-family: 'Roboto';
    color: var(--g11);
    font-weight: var(--medium);
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 8px;
}

.card-participantes-input-adicionar > div {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 8px;
}

.card-participantes-input-adicionar > div > input {
    height: 48px;
    border: none;
    background-color: var(--g2);
    color: var(--g11);
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0 24px;
    font-family: 'Roboto';
    font-size: 16px;
}

.card-participantes-input-adicionar > div > button {
    background-color: var(--g11);
    width: 48px;
    height: 48px;
    border: none;
    font-size: 24px;
    border-radius: 12px;
    color: var(--g1);
    cursor: pointer;
}

.card-participantes-input-adicionar > p {
    color: var(--r8);
    font-size: 16px;
    font-weight: var(--semibold);
    margin-bottom: 24px;
    line-height: 1.5;
    font-family: 'Roboto';
    display: none;
}

.card-participantes-input-adicionar > p > i {
    margin-right: 8px;
}

.card-participantes-usuario {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 8px;
    box-sizing: border-box;
    padding: 0 48px;
}

.card-participantes-usuario > div {
    display: flex;
    flex-direction: column;
}

.card-participantes-usuario > div > h3 {
    font-family: 'Roboto';
    color: var(--g11);
    font-weight: var(--medium);
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 8px;
}

.card-participantes-usuario > div > p {
    font-family: 'Roboto';
    color: var(--g6);
    font-weight: var(--regular);
    line-height: 1.5;
    font-size: 16px;
    text-transform: lowercase;
}

.card-participantes-usuario > div > p:first-letter {
    text-transform: uppercase;
}

.card-participantes-divisor {
    width: 100%;
    height: 1px;
    background-color: var(--g4);
    margin: 16px 0;
}

.card-participantes-usuario > button {
    background-color: var(--r8);
    width: 48px;
    height: 48px;
    border: none;
    font-size: 24px;
    border-radius: 12px;
    color: var(--g1);
    cursor: pointer;
}

.card-participantes-main::-webkit-scrollbar {
  width: 10px;
}

.card-participantes-main::-webkit-scrollbar-track {
  background: var(--g1);
  margin: 16px 0;
  border-radius: 20px;
}

.card-participantes-main::-webkit-scrollbar-thumb {
  background: var(--g8);
  border-radius: 20px;
}

.card-participantes-main::-webkit-scrollbar-thumb:hover {
  background: var(--g10);
}

@media screen and (max-height: 1440px) {
  .card-particiantes-projeto {
    height: 90vh;
    max-height: 928px;
  }
}

@media screen and (max-height: 1366px) {
  .card-particiantes-projeto {
    height: 88vh;
    max-height: 880px;
  }
}

@media screen and (max-height: 1024px) {
  .card-particiantes-projeto {
    height: 85vh;
    max-height: 840px;
  }
}

