.projeto-container{
    margin-top: 24px;
    align-items: center;
    background-color: var(--g1);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 24px;
}

.projeto-container h2 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: var(--semibold);
    line-height: 1.5;
}

.projeto-container p {
    color: var(--g5);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 1.5;
}

.projeto-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
}

.botoes-projeto {
    display: flex;
    gap: 16px;
    align-items:start;
}

.botoes-projeto button {
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 12px;
    color: var(--g1);
    cursor: pointer;
}

.btnEsconderFases {
    display: none;
}

.botoes-projeto button:nth-last-child(-n + 2) {
    background-color: var(--g11);  
}

.botoes-projeto button:nth-last-child(3) {
    background-color: var(--o8);  
}

.botoes-projeto button:nth-last-child(4) {
    background-color: var(--gr8);  
}

.botoes-projeto button:nth-last-child(5) {
    background-color: var(--y6);  
}

.botoes-projeto button:nth-last-child(6) {
    background-color: var(--r8);  
}

.progresso-container {
    width: 100%;
    height: 8px;
    display: flex;
    gap: 8px;
}

.progresso {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    display: flex;
    gap: 16px;
}

.progresso-vazio {
    background-color: var(--g3);
}

.progresso-cheio {
    background-color: var(--o6);
}

.fases-container {
    align-items: center;
    background-color: var(--g1);
    border-radius: 20px;
    margin-top: 12px;
    margin-bottom: 24px;
    box-sizing: border-box;
    padding: 24px;
    display: none;
}

.fase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.fase h2 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: var(--semibold);
    line-height: 1.5;
}

.fase p {
    color: var(--g5);
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.5;
    text-transform: lowercase;
}

.fase p::first-letter {
    text-transform: uppercase;
}

.link-tarefas a {
    text-decoration: none;
    color: var(--g11);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: var(--medium);
    line-height: 1.5;
}

.link-tarefas a i {
    margin-left: 8px;
}

.fase-divisor {
    height: 1px;
    background-color: var(--g3);
    width: 100%;
    margin-top: 12px;
}