@import url('../../styles/global.css');

body {
    background-color: var(--g2);
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
}

.main-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 32px;
    margin-right: 32px;
}

.main-header p {
    color: var(--g5);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 1.5;
}

.main-header h2 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: var(--semibold);
    margin-right: 68px;
}

.botoes-header {
    display: flex;
    gap: 16px;
    align-self: start;
}

.titulo-container {
    display: flex;
    gap: 24px;
    align-items: center;
}

.kanban-container {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    margin-right: 32px;
    margin-top: 24px;
}

.kanban-coluna {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.kanban-coluna h2 {
    color: var(--g11);
    font-family: "Poppins";
    font-size: 20px;
    font-weight: var(--regular);
}

.kanban-coluna h2 span {
    color: var(--g5);
    margin-left: 8px;
}

@media (max-width: 1440px) {
  .botoes-header button {
    font-size: 12px;
  }
}




