@import url('../../styles/global.css');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: var(--g2);
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 100vh;
}

.main-header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 32px;
    margin-right: 32px;
}

.btn-voltar {
    background-color: var(--g11);
    border: none;
    color: var(--g1);
    border-radius: 20px;
    width: 36px;
    height: 36px;
}

.btn-voltar i {
    font-size: 20px;
}

.titulo {
    display: block;
}

.titulo p {
    font-family: 'Roboto';
    color: var(--g5);
    font-size: 16px;
    line-height: 1.5;
}

.titulo h1 {
    font-family: 'Roboto';
    color: var(--g11);
    font-size: 32px;
    font-weight: var(--semibold);
    line-height: 1.5;
}

.main-header p {
    color: var(--g5);
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: var(--regular);
    line-height: 1.5;
}

.main-header h2 {
    color: var(--g11);
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: var(--semibold);
    margin-right: 68px;
}

.botoes-header {
    display: flex;
    gap: 16px;
    align-self: start;
}

.botoes-header button {
    color: var(--g1);
    font-weight: var(--medium);
    font-family: "Roboto";
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botoes-header button i {
    margin-right: 8px;
    font-size: 20px;
}

.botoes-header button:nth-child(1) {
    background-color: var(--gr8); 
}

.botoes-header button:nth-child(2){
    background-color: var(--r8); 
}

.botoes-header button:nth-child(3) {
    background-color: var(--g10); 

}

.botoes-header button:nth-child(4) {
    background-color: var(--o8); 
}

.botoes-header button:nth-child(5) {
    background-color: var(--g11); 
}

.titulo-container {
    display: flex;
    gap: 24px;
    align-items: center;
}

.kanban-container {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    margin-right: 32px;
    margin-top: 24px;
}

.kanban-coluna {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.kanban-coluna h2 {
    color: var(--g11);
    font-family: "Poppins";
    font-size: 20px;
    font-weight: var(--regular);
}

.kanban-coluna h2 span {
    color: var(--g5);
    margin-left: 8px;
}

@media (max-width: 1440px) {
  .botoes-header button {
    font-size: 12px;
  }
}




